:root {
    --main-color: #53B6D6;
    --second-color: #FD8239;
    --button-border-1: #FD6839;
}

@font-face {
    font-family: pulserifle;
    src: url(./font/pulserifle.ttf);
}

@font-face {
    font-family: segoeuivariable;
    src: url(./font/segoeuivariable.ttf);
}

@font-face {
    font-family: bungeeinline;
    src: url(./font/bungeeinline.ttf);
}

* {
    margin: 0;
    padding: 0;
}

/* BODY */
body {
    background-color: white;
}

.vector-1 {
    height: 47.6rem;
    top: 97.5px;
    right: 0;
    position: absolute;
    z-index: -1;
    /* background-color: blue; */
}

.vector-1-mobile {
    display: none;
}

/* NAVBAR */
nav {
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: wheat; */
}

/* navbar logo */
nav .nav-logo {
    display: flex;
    align-items: center;
    gap: 26px;
    margin: 0 36.5px 0 100px;
}

nav .nav-logo img {
    height: 50px;
}

nav .nav-logo a {
    font-size: 35px;
    font-family: pulserifle;
    text-decoration: none;
    color: black;
}

nav .nav-logo a .c {
    color: var(--main-color);

}

nav .nav-logo a .p {
    color: var(--second-color);
}

/* NAVBAR MENU CENTER */
nav .nav-menu-center {
    display: flex;
    align-items: center;
    gap: 50px;
}

nav .nav-menu-center a {
    text-decoration: none;
    font-family: segoeuivariable;
    font-weight: bold;
    color: black;
    font-family: segoeuivariable;
    font-size: 20px;
}

nav .nav-menu-center .active-1 {
    color: var(--main-color);
}

nav .nav-menu-center .active-2 {
    color: var(--second-color);
}

/* NAVBAR MENU RIGHT */
nav .nav-menu-right {
    display: flex;
    align-items: center;
    margin: 0 100px 0 31px;
}

/* button */
nav button {
    width: 165px;
    height: 50px;
    font-family: segoeuivariable;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: end;
    position: relative;
    background-color: white;
    color: black;
    border: none;
    border-radius: 50px 0 0 50px;
    z-index: 1;
    cursor: pointer;
    overflow: hidden;
}

nav button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background: linear-gradient(130deg, var(--main-color) 50%, var(--second-color) 50%);
    z-index: -1;
    padding: 3px;
    box-sizing: border-box;
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    mask-composite: exclude;
    -webkit-mask-composite: destination-out;
}

nav button .order {
    color: var(--main-color);
}

nav button .now {
    color: var(--second-color);
    margin-right: 25px;
}

nav .nav-menu-right i {
    font-size: 30px;
    position: relative;
    display: inline-block;
    background: linear-gradient(90deg, var(--second-color) 50%, var(--main-color) 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* MAIN */
main {
    /* background-color: var(--main-color); */
    width: 100%;
    height: 89.6vh;
    display: flex;
    align-items: start;
    justify-content: left;
}

main .content {
    /* background-color: grey; */
    width: 76.8rem;
    height: 43.8rem;
    margin: 10px 0px 78px 141px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .content .content-left {
    height: 100%;
    /* background-color: beige; */
    display: flex;
    flex-direction: column;
    justify-content: end;
}

main .content .content-left h1 {
    width: 45rem;
    font-size: 90px;
    font-family: bungeeinline;
    /* background-color: blue; */
    line-height: 7rem;
    font-weight: 10;
}

main .content .content-left .kamuflase {
    display: none;
}

main .content .content-left h1 .iam,
.welcome,
.my {
    color: var(--main-color);
}

main .content .content-left h1 .chris,
.to,
.porto {
    color: var(--second-color);
}

main .content .content-left p {
    width: 670px;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* background-color: aquamarine; */
    margin-top: 60px;
}

main .content .content-left .bl {
    margin-top: 30px;
}

main .content .content-left .bl button {
    width: 150px;
    height: 50px;
    border: 3px solid var(--button-border-1);
    border-radius: 15px;
    background-color: var(--second-color);
    font-family: segoeuivariable;
    font-weight: bold;
    color: white;
}

main .content .content-left .bl a {
    color: black;
    text-decoration: none;
    font-family: segoeuivariable;
    font-weight: bold;
    margin-left: 40px;
}

main .content img {
    height: 700px;
    filter: drop-shadow(5px 11px 4px #9e9e9e);
    /* background-color: red; */
}

/* OTHER */
@media screen and (max-width: 360px) and (max-height: 640px) {
    :root {
        --main-color: #53B6D6;
        --second-color: #FD8239;
        --button-border-1: #FD6839;
    }

    nav {
        /* background-color: wheat; */
        width: 100%;
        height: 55px;
    }

    nav .nav-logo {
        margin: 0 0 0 20px;
        gap: 10px;
    }

    nav .nav-logo img {
        height: 35px;
    }

    nav .nav-logo a {
        font-size: 20px;
    }

    nav .nav-menu-center a {
        font-size: 10px;
        display: none;
    }

    nav .nav-menu-right {
        margin: 0 20px 0 0;
    }

    nav .nav-menu-right button {
        display: none;
    }

    nav .nav-menu-right i {
        font-size: 20px;
    }

    /* MAIN */
    main {
        width: 100%;
        height: 586px;
        /* background-color: grey; */
    }

    main .content {
        height: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* background-color: rebeccapurple; */
    }

    main .content img {
        top: 55px;
        height: 500px;
        position: absolute;
        /* background-color: blue; */
        z-index: 0;
    }

    main .content .content-left {
        /* background-color: #53B6D6; */
        height: 500px;
    }

    main .content .content-left .kamuflase2 {
        display: none;
    }

    main .content .content-left .kamuflase {
        width: 275px;
        font-size: 36px;
        line-height: 3rem;
        text-align: center;
        /* background-color: red; */
        margin-bottom: 32px;
        z-index: 1;
        display: block;
        text-shadow: 0px 4px 4px #5c5c5c;
    }

    main .content .content-left .kamuflase {
        color: white;
    }

    main .content .content-left .kamuflase .span1,
    .span2,
    .span6,
    .span9 {
        color: var(--second-color);
    }

    main .content .content-left .kamuflase .span3,
    .span4,
    .span5,
    .span7,
    .span8,
    .span10 {
        color: black;
    }

    main .content .content-left p {
        display: none;
    }

    main .content .content-left .bl {
        gap: 40px;
    }

    main .content .content-left .bl button {
        width: 100px;
        height: 29.7px;
        border-radius: 5.5px;
        font-size: 9.4px;
        z-index: 1;
    }

    main .content .content-left .bl a {
        font-size: 15px;
        z-index: 1;
    }

    .vector-1 {
        display: none;
    }

    .vector-1-mobile {
        display: block;
        position: absolute;
        top: 54px;
        z-index: -1;
    }
}

@media screen and (max-width: 1080px) and (max-height: 2340px) {
    nav {
        width: 100%;
        height: 124px;
        /* background-color: rebeccapurple; */
    }

    nav .nav-logo {
        margin-left: 50px;
    }
    
    nav .nav-logo img {
        height: 88px;
    }

    nav .nav-logo a {
        font-size: 50px;
    }

    nav .nav-menu-center {
        display: none;
    }

    nav .nav-menu-right {
        margin-right: 50px;
    }
    
    nav .nav-menu-right button {
        width: 178px;
        height: 56.4px;
        display: flex;
        justify-content: right;
        font-size: 20px;
    }

    nav .nav-menu-right button span {
        margin-right: 21.31;
    }

    nav .nav-menu-right i {
        /* width: 56px; */
        height: 35px;
    }

    main .content {
        display: none;
    }

    .vector-1 {
        display: none;
    }

    .vector-1-mobile {
        display: none;
    }
}